---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Reviews from '../components/Reviews.astro';
import Hours from '../components/Hours.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFAB from '../components/WhatsAppFAB.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <About />
    <Reviews />
    <Hours />
    <Contact />
  </main>
  <Footer />
  <WhatsAppFAB />
</Layout>
